<!DOCTYPE html>
<html lang="en">


    <div class="big">
        <header class="header">

            <div class="LOGO">
                <span>picture</span>
                <span>ENGINEERING COLLEGE JHALAWAR</span>
            </div>

            <nav class="navbar">
                <ul class="navbar-list">
                    <li><a class="navbar-link" href="#" style="color:#9669e0;">Home</a></li>
                    <li><a class="navbar-link" href="#">About Us</a></li>
                    <li><a class="navbar-link" href="#" target="_blank">Contact Us</a></li>
                    <li><a class="navbar-link" href="#">Menu</a></li>
                </ul>
            </nav>
        </header>
        <div class="digital">
            <h2>Digital Learning</h2>
        </div>
        <section>
            <div class="img"><img src="assets/one.webp" alt=""></div>


            <div class="abs">
                <h2>ABSTRACT</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos unde numquam culpa voluptatibus harum.
                    Tempore veniam unde temporibus numquam ullam eaque quaerat error deleniti velit!</p>
            </div>

            <ol>
                <li>INTERVIEW & PLACEMENT QUESTIONS</li>
                <li><b>PREVIOUS YEAR QUESTIONS </b> </li>
                <img src="paper1.png" alt="">

                <li></li>
            </ol>

            <div class="container">
                <div class="box1">
                    <div class="box">
                        <div class="card">
                            <a href="#" class="card_img_container">
                                <img src="https://source.unsplash.com/random/600×400?Computer-Science-Engineering"
                                    alt="card one img" class="card_image" loading="lazy">
                            </a>

                            <div class="card_tittle_container">
                                <a href="#" class="card_tittle">
                                    <h2>
                                        COMPUTER SCIENCE
                                    </h2>
                                </a>
                                <p class="card_body">
                                    check out the latest tuch gadgets hitting the mark ,from smartphones
                                    to smartwatch
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="box">
                        <div class="card">
                            <a href="#" class="card_img_container">
                                <img src="https://source.unsplash.com/random/600×400?Civil-Engineering"
                                    alt="card one img" class="card_image" loading="lazy">
                            </a>

                            <div class="card_tittle_container">
                                <a href="#" class="card_tittle">
                                    <h2>
                                        CIVIL ENGINEERING
                                    </h2>
                                </a>
                                <p class="card_body">
                                    check out the latest tuch gadgets hitting the mark ,from smartphones
                                    to smartwatch
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="box">
                        <div class="card">
                            <a href="#" class="card_img_container">
                                <img src="https://source.unsplash.com/random/600×400?Mechanical-Engineering"
                                    alt="card one img" class="card_image" loading="lazy">
                            </a>

                            <div class="card_tittle_container">
                                <a href="#" class="card_tittle">
                                    <h2>
                                        MECHNICAL ENGINEERING
                                    </h2>
                                </a>
                                <p class="card_body">
                                    check out the latest tuch gadgets hitting the mark ,from smartphones
                                    to smartwatch
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="box">
                        <div class="card">
                            <a href="#" class="card_img_container">
                                <img src="https://source.unsplash.com/random/600×400?Electrical-Engineering"
                                    alt="card one img" class="card_image" loading="lazy">
                            </a>

                            <div class="card_tittle_container">
                                <a href="#" class="card_tittle">
                                    <h2>
                                        ELECTRICAL ENGINEERING
                                    </h2>
                                </a>
                                <p class="card_body">
                                    check out the latest tuch gadgets hitting the mark ,from smartphones
                                    to smartwatch
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="img-box">
                        <img src="https://source.unsplash.com/random/600×400?Engineers" alt="">
                    </div>
                </div>
            </div>

        </section>
    </div>




